.remark-com {
  min-width: 50px;

  :global {
    .remark-com-icon {
      color: rgb(var(--primary-6));
      margin-left: 3px;
      cursor: pointer;
      display: inline-block;
    }

    .remark-com-icon-hover {
      opacity: 0;
    }
  }

  &:hover {
    :global {
      .remark-com-icon-hover {
        opacity: 1;
      }
    }
  }
}